{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="shopping-bag-checkout-container">
    <div class="shopping-bag-header-container">
        <h2>SHOPPING BAG</h2>
        <hr>
        <hr>
        <hr>
    </div>
    
    <div class="shopping-bag-container">
        <div class="shopping-bag-checkout">
            {% if bag_items %}
            <div class="active-shopping-bag">
                <table>
                    <thead>
                        <tr class="checkout-headings">
                            <th>PRODUCT INFO</th>
                            <th></th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>SUBTOTAL</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td>
                            <div class="checkout-image-container">
                                <img class="checkout-image" src="{{ item.product.image.url }}">
                            </div>
                        </td>
                        <td class="checkout-product-info">
                            <p>{{ item.product.name }}</p>
                            <p>SIZE: {{ item.product.quantity}} ML</p>
                            <p class="checkout-sku">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="checkout-meta-sales">
                            <p class="checkout-price">£{{ item.product.price }}</p>
                        </td>
                        <td class="checkout-meta-sales">
                            <p class="checkout-quantity">X{{ item.quantity }}</p>
                        </td>
                        <td class="checkout-meta-sales">
                            <p class="checkout-subtotal">£{{ item.product.price }}</p>
                        </td>
                    </tr>
                {% endfor %}
                </table>

                <div class="grand-total-delivery">
                    <h3>BAG TOTAL: £{{ total|floatformat:2}}</h3>
                    <h3>DELIVERY: £{{ delivery|floatformat:2 }}</h3>
                    <h2>GRAND TOTAL: £{{ grand_total|floatformat:2}}</h2git >
                    {% if free_delivery_delta > 0 %}
                    <p>
                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                    </p>
                    {% endif %}         
                </div>

                <div class="checkout-shopmore-buttons">
                    <a class="keep-shopping" href="{% url 'all_products' %}">
                        <p>KEEP SHOPPING</p>
                    </a>

                    <a class="secure-checkout" href="">
                        <p>SECURE CHECKOUT</p>
                    </a>
                </div>
            </div>

            {% else %}
            <div class="empty-shopping-bag">
                <a href="{% url 'home'%}">
                    <h2>YOUR SHOPPING BAG IS CURRENTLY EMPTY</h2>
                    <p>
                    <span class="material-symbols-outlined home">home</span>
                    HEAD BACK TO HOME PAGE TO FIND THE BEST DEALS</p>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
