{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Landing Page -->
<main>
   <div id="hero-image">
      <div class="hero-text">
         <div class="hero-text-main">
            <h1>Welcome to <strong>Skin</strong><strong>Care</strong>d</h1>
         </div>
         <div class="hero-text-sub">
            <h2>Where We Source The Best In Skincare, Beauty & Cosmetic Products From Around The World</h2>
         </div>
         <div class="hero-text-button">
            <a class="btn site-buttons  site-white-button" href="{% url 'all_products' %}">Shop Now</a>
         </div>
      </div>
   </div>
</main>
{% endblock %}