{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="user-profile-container">
        <div class="user-profile-heading-container">
            <h2 class="logo-font mb-4">WELCOME <strong class="text-danger">{{user}}</strong> TO YOUR PROFILE</h2>
        </div>

        <div class="content-seperator"></div>

        <div class="user-details-order-container">
            <div class="user-profile-delivery-container">
                <p>DEFAULT DELIVERY INFORMATION</p>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn user-profile-buttons user-profile-white-button float-right">UPDATE INFORMATION</button>
                </form>
            </div>
            <div class="content-seperator"></div>

            <div class="user-profile-orderh-container">
                <p>ORDER HISTORY</p>
                {{ orders }}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}