.user-details-order-container p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.user-profile-buttons {
    border: 0.5px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.5rem;
    margin-top: 10px;
}
.user-profile-white-button:hover {
    background-color: #000000;
    color: #ffffff;
}
.user-profile-delivery-container {
    margin-bottom: 85px;
}
#profile-update-form input::placeholder {
    color: #aab7c4;
}
#profile-update-form .form-control {
    color: #000000;
}
#id_default_country, #id_default_country option:not(:first-child) {
    color: #000;
}
#id_default_country option:first-child {
    color: #aab7c4;
}
.order-history {
    max-height: 416px;
    overflow-y: auto;
}
@media only screen and (max-width: 500px) {
    .user-details-order-container p {
        font-size: 1.3rem;
   }
    .update-info-profile {
        font-size: 1.2rem;
   }
    .user-profile-delivery-container {
        margin-bottom: 75px;
   }
}
