{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="full-skincare-products-container">
    {% for product in skincare %}
    <div class="skincare-product">
        <div class="product-image-container">
            {% if product.image %}
            <a href="">
                <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
        </div>
        <div class="product-name">
            <p>{{ product.name }}</p>
        </div>
        <div class="product-price">
            <span>£{{ product.price }}</span>

        </div>
        <div class="product-rating">
        {% if product.rating %}
            <span class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</span>
        {% else %}
            <span class="text-muted">No Rating</span>
        {% endif %}

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}