{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="full-skincare-products-container">
    <div class="skincare-product">
        <!-- <div class="product-image-container">
            {% if product.image %}
            <a href="">
                <img class="" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
        </div> -->
    </div>
    
    <div class="skincare-product">
    </div>

    <div class="skincare-product">
    </div>

    <div class="skincare-product">
    </div>

    <div class="skincare-product">
    </div>

    <div class="skincare-product">
    </div>

    <div class="skincare-product">
    </div>

    <div class="skincare-product">
    </div>

    <div class="skincare-product">
    </div>

    <div class="skincare-product">
    </div>
</div>

{% endblock %}