{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="product-detail-container">
    <div class="product-detail">
        <div class="product-detail-image-container">
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
        </div>
    </div>

    <div class="product-details-meta-data">
        <a href="">
            <h2 class="product-detail-brand-name"><strong>{{product.brand.friendly_name}}</strong></h2>
        </a>
        <p class="product-detail-name">{{product.name}}</p>
        <p class="product-detail-quantity">{{product.quantity}}ml</p>
        <p class="product-detail-price">£{{product.price}}</p>

        <div class="product-details-extra-meta-data">
            <p>Cruelty Free: {{product.cruelty_free}}</p>
            <p>Vegan: {{product.vegan}}</p>
            <p>Alcohol Free: {{product.alcohol_free}}</p>
            <p class="sku">Sku: {{product.sku}}</p>
        </div>
      
    </div>
</div>

<hr class="product-details-seperator">

<div class="product-details-information-header">

    <h3 class="product-details-about">ABOUT</h3>
    
    <h3 class="product-details-description">DESCRIPTION</h3>

    <h3 class="product-details-directions">DIRECTIONS</h3>

    <h3 class="product-details-ingredients">INGREDIENTS</h3>

    <h3 class="product-details-details">DETAILS</h3>
</div>

<div class="product-details-information-container">

    <div class="product-details-information product-details-about product-about">
        <p>{{product.about}}</p>
    </div>

    <div class="product-details-information product-description">
        <p>{{product.description}}</p>
    </div>

    <div class="product-details-information product-directions">
        <p>{{product.directions}}</p>
    </div>

    <div class="product-details-information product-ingredients">
        <p>{{product.ingredients}}</p>
    </div>

    <div class="product-details-information product-details">
        <p>Product Type: {{product.product_subtype_friendly_name}}</p>
        <p>Star Ingredients: {{product.star_ingredient}}</p>
        <p>Skin Type: {{product.skin_type}}</p>
        <p>Skin Concern: {{product.skin_concern}}</p>

    </div>
</div>


<hr class="product-details-seperator">

{% endblock %}