{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="product-detail_container">
    <div class="product-detail">
        <div class="product-detail-image-container">
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img class="product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
        </div>
    </div>

    <div class="product-details-meta-data">
        <a href="">
            <h2 class="product-detail-brand-name"><strong>{{product.brand.friendly_name}}</strong></h2>
        </a>
        <p class="product-detail-name">{{product.name}}</p>
        <p class="product-detail-quantity">{{product.quantity}}ml</p>
        <p class="product-detail-price">£{{product.price}}</p>

    </div>
</div>

{% endblock %}