{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block inner_content %}
<h2 class="allauth-headers">{% trans "LOGOUT" %}</h2>
<div class="content-seperator"></div>

<p>{% trans 'ARE YOU SURE YOU WANT TO SIGN OUT?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">CANCEL</a>
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
