{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<h2 class="allauth-headers">{% trans "PASSWORD RESET" %}</h2>
<div class="content-seperator"></div>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}AN EMAIL HAS BEEN SENT. PLEASE CONTACT US IF YOU DO NOT RECEIVE IT OR NEED FURTHER ASSISTANCE.{% endblocktrans %}</p>
{% endblock %}
