{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block inner_content %}
<div class="header-container allauth-header">
   <h2>{% trans "CHANGE PASSWORD" %}</h2>
</div>
<div class="content-seperator"></div>
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
   {% csrf_token %}
   {{ form|crispy }}
   <a class="btn site-buttons site-black-button allauth-button" href="{% url 'account_login' %}">BACK TO LOGIN</a>
   <button class="btn site-buttons  site-white-button allauth-button" type="submit" name="action">{% trans "CHANGE PASSWORD" %}</button>
</form>
{% endblock %}