{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<h2 class="allauth-headers">{% trans "PASSWORD RESET" %}</h2>
<div class="content-seperator"></div>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "FORGOTTEN YOUR PASSWORD? PLEASE ENTER YOUR EMAIL ADDRESS BELOW AND A REST LINK WILL BE SENT." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn allauth-buttons allauth-black-button" href="{% url 'account_login' %}">BACK TO LOGIN</a>
        <input type="submit" value="{% trans 'RESET MY PASSWORD' %}" />
    </form>
    
    <p>{% blocktrans %}PLEASE CONTACT US IF YOU HAVE ANY TROUBLE RESETTING YOUR PASSWORD.{% endblocktrans %}</p>
{% endblock %}
