{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block inner_content %}
<div class="header-container allauth-header">
   <h2>{% if token_fail %}{% trans "BAD TOKEN" %}{% else %}{% trans "CHANGE PASSWORD" %}{% endif %}</h2>
</div>
<div class="content-seperator"></div>
{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}THE PASSWORD RESET LINK WAS INVALID. THIS COULD BE THAT IS HAS ALREADY BEEN USED. PLEASE REQUEST A <a href="{{ passwd_reset_url }}">NEW PASSWORD RESET</a>.{% endblocktrans %}</p>
{% else %}
{% if form %}
<form method="POST" action="{{ action_url }}">
   {% csrf_token %}
   {{ form|crispy }}
   <a class="btn site-buttons site-black-button allauth-button" href="{% url 'account_login' %}">BACK TO LOGIN</a>
   <input type="submit" name="action" value="{% trans 'change password' %}"/>
</form>
{% else %}
<p>{% trans 'YOUR PASSWORD IS NOW CHANGED.' %}</p>
{% endif %}
{% endif %}
{% endblock %}