{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<h2 class="allauth-headers">{% trans "CHANGE PASSWORD" %}</h2>
<div class="content-seperator"></div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">BACK TO LOGIN</a>
        <button type="submit" name="action">{% trans "CHANGE PASSWORD" %}</button>
    </form>
{% endblock %}
