{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="brand-header">
    <h2>BRANDS</h2>
    <hr>
    <hr>
    <hr>
    <div class="brand-a-z">
        {% for letter in brand_letters %}
        <a href="#{{letter}}">
            {{letter}}
        </a>
        {% endfor %}
    </div>
</div>

<!-- Ask Mentor For Help -->
<!-- {% for b in brand_letter_startswith %}
<a href="{% url 'full_brands' brand.slug %}">
    {{b.friendly_name}}
</a>
{% endfor %} -->

<div class="brand-image-container">
    {% for brand in brands %}
     {% if brand.image %}
        <div>
            <a href="{% url 'full_brands' brand.slug %}">
                <img class="brand-image" src="{{ brand.image.url}}" alt="{{full_brand.friendly_name}}">
            </a>
        </div>
        {% else %}
        <div>
            <img class="brand-image" src="{{MEDIA_URL}}noimage.png" alt="{{full_brand.friendly_name}}">
        </div>
        {% endif %}

    {% endfor %}

</div>

<div class="brand-outer-contianer">
    <div class="brand-container">
        {% for letter in brand_letters %}
        <div class="brand-inner-container">
            <div id="{{letter}}" class="brand-letter">
                <div class="brand-letter-container">
                    {{letter}}
                </div>

                <div class="brand"> 
                    {% for brand in brand_a %}
                        {% if letter == "a"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="a">
                            {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_b %}
                        {% if letter == "b"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="b">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_c %}
                        {% if letter == "c"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="c">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_d %}
                        {% if letter == "d"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="d">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_e %}
                        {% if letter == "e"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="e">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_f %}
                        {% if letter == "f"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="f">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_g %}
                        {% if letter == "g"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="g">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_h %}
                        {% if letter == "h"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="h">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_i %}
                        {% if letter == "i"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="i">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_j %}
                        {% if letter == "j"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="j">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_k %}
                        {% if letter == "k"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="k">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_l %}
                        {% if letter == "l"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="l">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_m %}
                        {% if letter == "m"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="m">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_n %}
                        {% if letter == "n"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="n">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_o %}
                        {% if letter == "o"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="o">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_p %}
                        {% if letter == "p"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="p">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_q %}
                        {% if letter == "q"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="q">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_r %}
                        {% if letter == "r"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="r">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_s %}
                        {% if letter == "s"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="s">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_t %}
                        {% if letter == "t"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="t">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_u %}
                        {% if letter == "u"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="u">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}
                    
                    {% for brand in brand_v %}
                        {% if letter == "v"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="v">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_w %}
                        {% if letter == "w"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="w">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_x %}
                        {% if letter == "x"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="x">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_y %}
                        {% if letter == "y"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="y">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% for brand in brand_z %}
                        {% if letter == "z"%}
                        <a href="{% url 'full_brands' brand.slug %}" id="z">
                        {{brand.friendly_name}}
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}