{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="brands-header">
    <h2>BRANDS</h2>
  

    <div class="brands-a-z">
        {% for letter in brand_letters %}
        <a href="{{brand_letter}}">
            {{letter}}
        </a>
        {% endfor %}
    </div>
</div>

<div class="brand-container">
    {% for letter in brand_letters %}
    <a href="{{brand_letter}}">
        {{letter}}
    </a>
    {% for b in brand%}
    {% if letter == "a"%}
    {{b}}
    {% endif %}
    {% endfor %}
    {% for b in brand%}
    {% if letter == "b"%}
    {{b}}
    {% endif %}
    {% endfor %}
    <hr>
    <hr>
    <hr>
    {% endfor %}
</div>

<div class="brands-list-container">
    {% for brand in brands %}
    <a href="">
        <div class="brands-list">
            {{brand.friendly_name}}
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}