{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="brands-header">
    <h2>BRANDS</h2>
    <hr>
    <hr>
    <hr>

    <div class="brands-a-z">
        {% for letter in brand_letters %}
        <a href="#{{letter}}">
            {{letter}}
        </a>
        {% endfor %}
    </div>
</div>

<div class="brand-container">
    {% for letter in brand_letters %}
    <div id="{{letter}}">
        {{letter}}
        {% for brand in brands %}
        {% if letter == "a" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
          {% if letter == "b" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "c" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "d" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "e" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "f" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "h" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "i" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "k" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "l" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "m" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "n" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "p" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "r" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "s" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "t" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% if letter == "v" %}
        <a href="#">
            {{brand}}
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <hr>
    <hr>
    <hr>
    {% endfor %}
</div>


<!-- <div class="brands-list-container">
    {% for brand in brands %}
    <a href="">
        <div class="brands-list">
            {{brand.friendly_name}}
        </div>
    </a>
    {% endfor %}
</div> -->

{% endblock %}