{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="full-brand-header">
    <h2>
        {{full_brand.friendly_name}}
    </h2>
    <hr>
    <hr>
    <hr>
</div>

<div class="brand-image-text-container">
    <div class="brand-image">
        <img src="/media/skincare/brands/ample_n.webp" width="600" height="200" alt="{{full_brand.friendly_name}}">
    </div>

    <div class="brand-text">
        <p>
            {{full_brand.about}}
        </p>
    </div>
</div>

{% endblock %}