{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="full-brand-header">
    <h2>
        {{full_brand.friendly_name}}
    </h2>
    <hr>
    <hr>
    <hr>
</div>

<div class="brand-image-text-container">
    <div class="brand-image-text-inner-container">
        <div class="brand-image-container">
            <img class="brand-image" id="no-brand-image" src="/media/noimage.png" alt="{{full_brand.friendly_name}}">
        </div>

        <div class="brand-text">
            <p class="about-text">
                {{full_brand.about}}
            </p>
        </div>
    </div>
</div>

{% endblock %}